/RAM/
/FLASH/
/RAM_CUSTOM_HAL/
/RAM_CUSTOM_HAL__opt_for_speed__0/
/RAM_CUSTOM_HAL__opt_for_speed__1/
/RAM_CUSTOM_HAL__opt_for_speed__2/
/RAM_CUSTOM_HAL__opt_for_speed__3/
/RAM_CUSTOM_HAL__opt_for_speed__4/
/RAM_CUSTOM_HAL__opt_for_speed__5/
/FLASH__opt_for_speed__0/
/FLASH__opt_for_speed__1/
/FLASH__opt_for_speed__2/
/FLASH__opt_for_speed__3/
/FLASH__opt_for_speed__4/
/FLASH__opt_for_speed__5/
